.mediaViewInfo {
  --web-view-name: ALzy;
  --web-view-id: ALzy;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: ALzy;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#ALzy {
  position: absolute;
  width: 1377px;
  height: 860.625px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: ALzy;
  --web-view-id: ALzy;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Rectangle_1 {
  fill: rgba(7, 80, 86, 1);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1377px;
  height: 861px;
  left: 0px;
  top: 0px;
}
#Rectangle_3 {
  fill: rgba(243, 243, 243, 1);
}
.Rectangle_3 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.431));
  position: absolute;
  overflow: visible;
  width: 1322px;
  height: 255px;
  left: 37px;
  top: 171px;
}
#GOAL_WITH_THE_PROJECT {
  left: 58px;
  top: 187px;
  position: absolute;
  overflow: visible;
  width: 810px;
  height: 89px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  color: rgba(255, 91, 4, 1);
  letter-spacing: -0.1px;
}
#Our_project_seeks_to_enhance_m {
  left: 58px;
  top: 280px;
  position: absolute;
  overflow: visible;
  width: 1264px;
  height: 108px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.1px;
}
#Group_9 {
  position: absolute;
  width: 727px;
  height: 259px;
  left: 37px;
  top: 458px;
  overflow: visible;
}
#Rectangle_4 {
  fill: rgba(243, 243, 243, 1);
}
.Rectangle_4 {
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.431));
  position: absolute;
  overflow: visible;
  width: 745px;
  height: 277px;
  left: 0px;
  top: 0px;
}
#Click_the_Upload_button_below_ {
  left: 19px;
  top: 15px;
  position: absolute;
  overflow: visible;
  width: 692px;
  height: 215px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.1px;
}
#Group_14 {
  position: absolute;
  width: 391px;
  height: 74px;
  left: 205px;
  top: 765px;
  overflow: visible;
}
#Group_13 {
  position: absolute;
  width: 391px;
  height: 74px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_12 {
  fill: white;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_12 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.58));
  position: absolute;
  overflow: visible;
  width: 409px;
  height: 92px;
  left: 0px;
  top: 0px;
}

#Rectangle_12:hover {
  fill: rgba(255, 91, 12, 1);
}

#UPLOAD {
  left: 35px;
  top: 9px;
  position: absolute;
  overflow: hidden;
  width: 323px;
  height: 57px;
  text-align: center;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: black;
  letter-spacing: -0.1px;
  pointer-events: none;
} 
#Group_8 {
  position: absolute;
  width: 1061px;
  height: 116px;
  left: 280px;
  top: 24px;
  overflow: visible;
}
#Group_5 {
  position: absolute;
  width: 817px;
  height: 100px;
  left: 0px;
  top: 8px;
  overflow: visible;
}
#Rectangle_12_w {
  fill: rgba(0, 34, 51, 1);
}
.Rectangle_12_w {
  filter: drop-shadow(0px 5px 5px rgba(0, 39, 54, 0.969));
  position: absolute;
  overflow: visible;
  width: 832px;
  height: 115px;
  left: 0px;
  top: 0px;
}

#HOME_ {
  left: 32px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 98px;
  height: 60px;
  text-align: right;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.1px;
}
#TUMOR {
  left: 192px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 109px;
  height: 60px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.1px;
}
#Rectangle_14 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_14 {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 48px;
  left: 160px;
  top: 26px;
}
#ALZHEIMER {
  left: 374px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 172px;
  height: 60px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.1px;
}
#Rectangle_15 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_15 {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 48px;
  left: 327px;
  top: 26px;
}
#Rectangle_16 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_16 {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 48px;
  left: 586px;
  top: 26px;
}
#n_D_MODEL {
  left: 626px;
  top: 20px;
  position: absolute;
  overflow: visible;
  width: 172px;
  height: 60px;
  text-align: left;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.1px;
}
#logo {
  filter: drop-shadow(6px 8px 8px rgba(0, 0, 0, 0.522));
  position: absolute;
  width: 116px;
  height: 116px;
  left: 945px;
  top: 0px;
  overflow: visible;
}
#Group_12 {
  position: absolute;
  width: 340px;
  height: 376.507px;
  left: 928px;
  top: 430.313px;
  overflow: visible;
}
#Rectangle_17 {
  fill: rgba(34, 47, 56, 1);
}
.Rectangle_17 {
  position: absolute;
  overflow: visible;
  width: 46.603px;
  height: 169.313px;
  left: 206.652px;
  top: 207.194px;
}
#Group_11 {
  position: absolute;
  width: 340px;
  height: 376.507px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_10 {
  position: absolute;
  width: 340px;
  height: 376.507px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.customlink {
  text-decoration: none; 
  color: white; 
}

.customlink:hover {
  color: rgba(255, 91, 4, 1); 
}
