<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>3d mODEL</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/3DModel_Style.css"/>
<script id="applicationScript" type="text/javascript" src="../js/3DModel_Script.js"></script>
</head>
<body>
<div id="n_d_mODEL">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1377" height="861">
		</rect>
	</svg>
	<div id="Group_8">
		<div id="Group_5">
			<svg class="Rectangle_12">
				<rect id="Rectangle_12" rx="13" ry="13" x="0" y="0" width="817" height="100">
				</rect>
			</svg>
			<div id="HOME_">
				<a href="/" class="customlink" >HOME</a>
			</div>
			<div id="TUMOR">
				<a href="/Tumor.html" class="customlink">TUMOR</a>
			</div>
			<svg class="Rectangle_14">
				<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<div id="ALZHEIMER">
				<a href="/Alzy.html" class="customlink">ALZHEIMER</a>
			</div>
			<svg class="Rectangle_15">
				<rect id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<svg class="Rectangle_16">
				<rect id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<div id="n_D_MODEL">
				<a href="/3DModel.html" class="customlink">3D MODEL</a>
			</div>
		</div>
		<a href="/"><img id="logo" src="../static/img/logo.png"></a>
			
	</div>
	<svg class="Rectangle_23">
		<rect id="Rectangle_23" rx="45" ry="45" x="0" y="0" width="693" height="662">
		</rect>
	</svg>
	<svg class="Rectangle_24">
		<rect id="Rectangle_24" rx="45" ry="45" x="0" y="0" width="693" height="662">
            <iframe src="{{ image_path }}">
            </iframe>
		</rect>
	</svg>
</div>
</body>
</html>