<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ALzy</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/Alzy_Style.css"/>

</head>
<body>
<div id="ALzy">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1377" height="861">
		</rect>
	</svg>
	<svg class="Rectangle_3">
		<rect id="Rectangle_3" rx="19" ry="19" x="0" y="0" width="1304" height="237">
		</rect>
	</svg>
	<div id="GOAL_WITH_THE_PROJECT">
		<span>GOAL WITH THE PROJECT</span>
	</div>
	<div id="Our_project_seeks_to_enhance_m">
		<span>Our project seeks to enhance medical imaging through the application of artificial intelligence, with a primary objective of achieving early and precise tumor detection. By harnessing AI algorithms, we aim to provide medical professionals with a powerful tool to improve diagnostic accuracy and ultimately advance patient care.</span>
	</div>
	<div id="Group_9">
		<svg class="Rectangle_4">
			<rect id="Rectangle_4" rx="30" ry="30" x="0" y="0" width="727" height="259">
			</rect>
		</svg>
		<div id="Click_the_Upload_button_below_">
			<span>Click the </span><span style="color:rgba(255,91,4,1);">Upload</span><span> button below.<br/>Select your CT scan file in </span><span style="color:rgba(255,91,4,1);">DICOM </span><span>format from your device<br/>Ensure the file is of the highest quality and contains the relevant imaging data.<br/>Click 'Upload' to submit your scan for analysis.</span>
		</div>
	</div>
	<div id="Group_14">
		<div id="Group_13">
			<div class="Rectangle_12">
				<form method=post enctype=multipart/form-data>
        <input type=file name=files multiple>
        <input type=submit value=Upload>
    </form>
			</div>
		</div>
	</div>
	<div id="Group_8">
		<div id="Group_5">
			<div class="Rectangle_12_w">
				<rect id="Rectangle_12_w" rx="13" ry="13" x="0" y="0" width="817" height="100">
				</rect>
			</div>
			<div id="HOME_">
				<a href="/" class="customlink" >HOME</a>
			</div>
			<div id="TUMOR">
				<a href="/Tumor.html" class="customlink">TUMOR</a>
			</div>
			<svg class="Rectangle_14">
				<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<div id="ALZHEIMER">
				<a href="/Alzy.html" class="customlink">ALZHEIMER</a>
			</div>
			<svg class="Rectangle_15">
				<rect id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<svg class="Rectangle_16">
				<rect id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="5" height="48">
				</rect>
			</svg>
			<div id="n_D_MODEL">
				<a href="/3DModel.html" class="customlink">3D MODEL</a>
			</div>
		</div>
		<a href="/"><img id="logo" src="../static/img/logo.png"></a>
			
	</div>
	<div id="Group_12">
		<svg class="Rectangle_17">
			<rect id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="46.603" height="169.313">
			</rect>
		</svg>
		<div id="Group_11">
			<img id="Group_10" src="../static/img/Group_10.png">
				
			</svg>
		</div>
	</div>

	<form id="fileUploadForm" enctype="multipart/form-data">
    		<input type="file" id="fileInput" name="fileInput" accept=".jpg, .png, .pdf">
  		</form>
</div>
<script id="applicationScript" type="script" src="../js/Alzy_Script.js">

</script>
</body>
</html>