<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/Home_Style.css" />

	</head>
	<body>
		<div id="Home">
			<svg class="Rectangle_1">
				<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1377" height="861">
				</rect>
			</svg>
			<svg class="Rectangle_3">
				<rect id="Rectangle_3" rx="19" ry="19" x="0" y="0" width="1304" height="237">
				</rect>
			</svg>
			<div id="ABOUT_US_SOMETHING">
				<span>ABOUT US SOMETHING</span>
			</div>
			<div id="LOL_I_AM_CLUELESS_">
				<span>LOL I AM CLUELESS. I NEED TO SLEEP PLEASE SOMEONE HELP. </span>
			</div>
			<div id="Group_4">
				<svg class="Rectangle_12">
					<rect id="Rectangle_12" rx="13" ry="13" x="0" y="0" width="315" height="98">
					</rect>
				</svg>
				<div id="HOME_">
					<a href="/" class="customlink"> HOME </a>
				</div>
				<div id="TUMOR">
					<a href="/Tumor.html" class="customlink">TUMOR</a>
				</div>
				<svg class="Rectangle_14">
					<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="5" height="48">
					</rect>
				</svg>
			</div>
		</div>
		<script id="applicationScript" type="text/javascript" src="../js/Home_Script.js"></script>
	</body>
</html>