<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tumor</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Tumor_Style.css"/>

</head>
<body>
<div id="Tumor">

	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1377" height="861">
		</rect>
	</svg>

	<svg class="Rectangle_3">
		<rect id="Rectangle_3" rx="19" ry="19" x="0" y="0" width="1304" height="237">
		</rect>
	</svg>

	<svg class="Rectangle_4">
		<rect id="Rectangle_4" rx="30" ry="30" x="0" y="0" width="727" height="259">
		</rect>
	</svg>
	
	<div id="GOAL_WITH_THE_PROJECT">
		<span>GOAL WITH THE PROJECT</span>
	</div>

	<div id="Our_project_seeks_to_enhance_m">
		<span>Our project seeks to enhance medical imaging through the application of artificial intelligence, with a primary objective of achieving early and precise tumor detection. By harnessing AI algorithms, we aim to provide medical professionals with a powerful tool to improve diagnostic accuracy and ultimately advance patient care.</span>
	</div>

	<div id="Group_3">
		<svg class="Rectangle_5">
			<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="53.269" height="193.533">
			</rect>
		</svg>
		<div id="Group_2">
			<img id="Group_1" src="Group_1.png" srcset="Group_1.png 1x, Group_1@2x.png 2x">
				
			</svg>
		</div>
	</div>

	<div id="Click_the_Upload_button_below_">
		<span>Click the </span><span style="color:rgba(255,91,4,1);">Upload</span><span> button below.<br/>Select your CT scan file in </span><span style="color:rgba(255,91,4,1);">DICOM </span><span>format from your device<br/>Ensure the file is of the highest quality and contains the relevant imaging data.<br/>Click 'Upload' to submit your scan for analysis.</span>
	</div>

	<svg class="Rectangle_12">
		<rect id="Rectangle_12" rx="37" ry="37" x="0" y="0" width="391" height="74">
		</rect>
		<span id="UPLOAD">UPLOAD</span>
	</svg>


	<div id="Group_5">
		<svg class="Rectangle_12_u">
			<rect id="Rectangle_12_u" rx="13" ry="13" x="0" y="0" width="315" height="98">
			</rect>
		</svg>
		<div id="HOME_">
			<a href="Home.html" class="customlink" > HOME </a>
		</div>
		<div id="TUMOR">
			<a href="Tumor.html" class="customlink" >TUMOR</a>
		</div>
		<svg class="Rectangle_14">
			<rect id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="5" height="48">
			</rect>
		</svg>
	</div>

	<form id="fileUploadForm" enctype="multipart/form-data">
    		<input type="file" id="fileInput" name="fileInput" accept=".jpg, .png, .pdf">
  		</form>

<script id="applicationScript" type="text/javascript" src="Tumor_Script.js"></script>
</div>
</body>
</html>